html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    image-rendering: pixelated;
}

canvas {
    width: 100vw;
    height: 100vh;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    display: block;
    background: blue;

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;

    image-rendering: pixelated;
    image-rendering: crisp-edges;

    cursor: none; */
}